out/
out_*/
device_staging_*/
simfab_traces/


sim_stats.json
sim.log
simconfig.json
wio_flow.json

artifact_*.json
wsjob-*.json
run_meta.json

wio_flows*/
wio_flows_tmpdir.*/

*.log
**/log/
**/compile_out/

__pycache__/
*.py[cod]

AGENTS.md
CLAUDE.md
